@font-face {
    font-family: 'SentyWEN';
    src: local('SentyWEN Mono'), local('SentyWEN-Mono'),
    url('SentyWEN2017.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    font-size: x-large;
}
